@mixin clearFix {
    
    &::after {
        content: "";
        display: table;
        clear: both;
    }

}

// MEDIA QUERY MANAGER
/*
0-600px             Phone
600-900px           Tablet portrait
900-1200px          Tablet landscape
[1200-1800px] is where our normal styles apply
1800px+             Big desktop

$breakpoint argument choices
 - phone 
 - tab-port
 - tab-land
 - big-desktop

 Order: Base + Typography > General Layout (including Grid) > Page Layout > Components

 1em = 16px
*/

@mixin respond($breakpoint) {
    @if $breakpoint == phone-smol {
        @media (max-width: 24em) { // 690
            @content
        };
    }
    @if $breakpoint == phone {
        @media (max-width: 43.5em) { // 690
            @content
        };
    }
    @if $breakpoint == tab-port {
        @media (max-width: 56.25em) { // 900
            @content
        };
    }
    @if $breakpoint == tab-land {
        @media (max-width: 75em) { // 1200
            @content
        };
    }
    @if $breakpoint == big-desktop {
        @media (min-width: 112.5em) { // 1800
            @content
        };
    }
}
