// Colors
$color-blue-light: #5858ff;
$color-blue-medium-light: #3333ff;
$color-blue-dark: #0000ff;

$color-green-light: #7ed56f;
$color-green-dark: #28b485;

$color-orange-light: #ffb900;
$color-orange-dark: #ff7730;

$color-red-light: #b24592;
$color-red-dark: #f15f79;
$color-red: #ff0000;

$color-purple-light: #2998ff;
$color-purple-dark: #5643fa;

$color-violet-light: #A4508B;
$color-violet-dark: #5F0A87;

$color-grey-light: #f7f7f7;
$color-grey: #777;
$color-grey-dark: #eee;
$color-grey-footer: #333;
$color-black: #000;
$color-white: #fff;

// Grid
$grid-width: 114rem;
$grid-width-small: 70rem;
$gutter-vertical: 4rem;
$gutter-vertical-small: 2rem;
$gutter-horizontal: 3rem;