.feature-box {

    padding: 3rem;
    text-align: center;
    border-radius: 2rem;

    &-beautX {
        background-color: $color-white;
        transition: all .2s;
        transform: scale(1.01) translateY(-.5rem);
        box-shadow: 0 0 3rem rgba($color-black, .1);

        &:hover {
            transform: scale(1) translateY(0);
            box-shadow: none;
        }

    }

    &__icon {

        margin-bottom: 5rem;
        display: inline-block;
        color: $color-white;
        transition: all .2s;

        &-beautX {
            -webkit-background-clip: text;
            background-image: linear-gradient(to right, $color-purple-light, $color-purple-dark);
            color: transparent;
        }

        &--big {
            font-size: 15rem;
        }

        &--medium {
            font-size: 10rem;
        }

        @include respond(tab-port) {
            margin-bottom: 3rem;
        }
    }

}