*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;

    @include respond(tab-land) {
        font-size: 56.25%; // 1rem = 9px; 9px/16px = 56.25%
    }

    @include respond(tab-port) {
        font-size: 50%; 
    }

    @include respond(phone) {
        font-size: 30%;
    }

    @include respond(phone-smol) {
        font-size: 25%;
    }

    @include respond(big-desktop) {
        font-size: 75%; //1rem = 12px; 12px/16px = 75%
    }
}

body {
    box-sizing: border-box;
}