body {
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    line-height: 1.7;
    color: $color-grey;
}

.heading {
    color: $color-white;

    &--welcome {
        display: block;
        font-size: 4rem;
        font-weight: 400;
        letter-spacing: .3rem;
    }
    
    &--name {
        display: block;
        font-size: 4rem;
        font-weight: 700;
        letter-spacing: 1rem; 
        text-transform: uppercase; 
    }
    
    &--designation {
        display: block;
        font-size: 3rem;
        font-weight: 400;
        letter-spacing: .5rem;
        text-transform: uppercase;
    }
}

.heading-secondary {
    font-size: 3.5rem;
    font-weight: 700;
    text-transform: uppercase;
    display: inline-block;
    letter-spacing: .3rem;
    // background-image: linear-gradient(to right,
    // $color-purple-light, 
    // $color-purple-dark);
    // -webkit-background-clip: text;
    color: rgba($color-black, .8);;
    transition: all .3s ease;

    &:hover {
        transform: scale(1.01);
        letter-spacing: .4rem;
    }
}

.heading-tertiary {
    font-size: 2rem;
    color: rgba($color-black, .8);
    font-weight: 700;
    text-transform: uppercase;
    &-about {
        text-transform: none;
    }
}

.skills-paragraph {
    font-size: 1.75rem;
    padding: 1.5rem;
    color: rgba($color-black, .7);
    font-weight: 400;
}

.about-paragraph {
    font-size: 1.75rem;
    padding-left: 5rem;
    padding-right: 5rem;
    color: rgba($color-black, .7);
    font-weight: 400;
}

.icon-heart {
    background-image: linear-gradient(to bottom right, $color-red-dark, $color-red);
    -webkit-background-clip: text;
    color: transparent;
    transition: transform .2s;

    &:hover {
        transform: scale(1.1);
    }
}